{%include 'header.html'%}
<br>
<br> 
<br>
<table class="table table-light">
    <thead class="thead-light">
        <tr>
            <th>#</th>
            <th>Documento</th>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Direccion</th>
            <th>Correo</th>
            <th>Token</th>
            <th>Estado</th>
        </tr>
        </thead>
        <tbody>
            {% for  client in client %}
            <tr>
                <td>{{client[0]}}</td>
                <td>{{client[1]}}</td>
                <td>{{client[2]}}</td>
                <td>{{client[3]}}</td>
                <td>{{client[4]}}</td>
                <td>{{client[6]}}</td>
                <td>{{client[7]}}</td>
                <td>
                {% if client[8]==1 %}
                    {{"Activo"}}
                {% elif client[8]==0 %}
                    {{"Bloqueado"}}
                {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
</table>
{%include 'footer.html'%}