
</div>
<!-- Jquery JS-->
<script src="{{ url_for('static', filename='jquery-3.2.1.min.js') }}"></script>
<!-- Bootstrap JS-->
<script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='popper.min.js') }}"></script>
<!-- Vendor JS       -->
<script src="{{ url_for('static', filename='slick.min.js') }}"></script>
<script src="{{ url_for('static', filename='jquery-ui.min.js') }}"></script>
<script src="{{ url_for('static', filename='animsition.min.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap-progressbar.min.js') }}"></script>
<script src="{{ url_for('static', filename='jquery.waypoints.min.js') }}"></script>
<script src="{{ url_for('static', filename='jquery.counterup.min.js') }}"></script>
<script src="{{ url_for('static', filename='circle-progress.min.js') }}"></script>
<script src="{{ url_for('static', filename='perfect-scrollbar.js') }}"></script>
<script src="{{ url_for('static', filename='Chart.bundle.min.js') }}"></script>
<script src="{{ url_for('static', filename='select2.min.js') }}"></script>
<!-- Main JS-->
<script src="{{ url_for('static', filename='main.js') }}"></script>

</body>
</html>